@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Todo List</h1>
    <p class="lead">Todo Lists are a way of keeping our lives organized. 
    They can also be used to give software developers a somthing to do in their spare time.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Security</h2>
        <p>Each user shoud be able to log into the application utilizing basic security.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Unique Lists</h2>
        <p>Users shoud be able to create a list with a unique.</p>
        
    </div>
    <div class="col-md-4">
        <h2>More Lists</h2>
       <p>Users should be able to create multiple Lists.</p>
       
    </div>
    
</div>
<div class="row alt-row">
    <div class="col-md-12 ">
        <hr class="hr-heading">
        <h2 align="center">Dear Future Developer</h2>
        <hr class="hr-heading">
        <p>
            If you are reading this then I should tell you that this initial project only took about an hour to complete.
            However, on ocassion I find myself looking back at my previous projects and task thinking to myself "I could have done that better".
            This todo list application is tool or resource that I can continue to update and/modify to display skills that I have learned when woking
            with the Micosoft development stack.
        </p>
    </div>

</div>